.streamerAddForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    text-align: center;
    text-transform: uppercase;
  }
  color: var(--text-color);
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--color-bg1);
  }
  input,
  textarea,
  select {
    font-size: 1.1rem;
    padding: 0.3rem;
    border: none;
    color: var(--text-color);
    background-color: var(--input-bg);
  }
  textarea {
    resize: none;
  }
}

.errorInput {
  border: 1px solid rgb(200, 21, 21);
}
.errorInput::placeholder {
  color: rgb(200, 21, 21);
}
.errorText {
  color: red;
}

@media screen and (min-width: 600px) {
  .streamerAddForm {
    form {
      width: 60%;
      padding: 2rem;
    }
  }
}
